# Скопируйте этот файл в .env и заполните значения

# Токен из SmartApp Studio (Настройки профиля → Настройки сервисов → SmartApp → Эмулятор → Скопировать ключ)
REACT_APP_TOKEN=""

# Название вашего CanvasApp из SmartApp Studio (точно как указали при создании)
REACT_APP_SMARTAPP=""
